FORM OF DECLARATION OF COMPLIANCE WITH THE REQUIREMENTS OF THE COMPLIANCE
OF THE COMPANIES ACT 1956
Form No.1
No. of Company ...................................
The Companies Act, 1956
Declaration of compliance with the requirements of the Companies Act, 1956, on
Application for Registration of a Company
[Pursuant to section 33(2)]
Name of Company.Limited/Private Ltd.
Presented by
______________________________________________________________________
I of
do solemnly and sincerely declare that I am (a)  who is engaged in the formation of the Company, or a person named in the Articles as a Director/Manager/ Secretary of the
Limited/Private Limited.
And that all the requirements of the Companies Act, 1956, and the rules there under in respect of matters precedent to the registration of the said Company and incidental thereto have been complied with. And I make this solemn Declaration conscient
iously believing the same to be true.
Date:
Place: Signature
Witness: Designation
(a)
An advocate of the Supreme Court or of the High Court or an attorney or a pleador entitled to appear before the High Court or a Chartered Accountant practising in India.
State whether director, managing/while-time director, manager or secretary.